* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: #212022;
  }
  
  .card {
    width: 90%;
    background: linear-gradient(to right, #7ef1dc, #b2badc);
    margin: 5% auto;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
  }
  
  button {
    width: 100px;
    height: 40px;
    text-decoration: none;
    background-color: #ead6ff;
    border-radius: 20px;
    display: block;
    margin: 10px auto;
  }
  
  a {
    text-decoration: none;
  }
  
  #temperature {
    font-size: 45px;
    font-weight: bolder;
    margin-top: -20px;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .search input {
    border-radius: 15px;
    outline: none;
    padding: 10px 25px;
    width: 70%;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .search img {
    height: 23px;
    padding-top: 2%;
    padding-right: 15px;
  }
  
  .icon {
    width: 1rem;
    height: 1rem;
    place-items: center;
    border-radius: 20px;
    cursor: pointer;
    border-radius: 25px;
    padding-top: -4px;
    margin-top: -8px;
    font-size: 23px;
  }
  
  #date {
    font-size: 19px;
  }
  
  .climate {
    margin: 5%;
  }
  
  .temperature {
    font-size: 47px;
  }
  
  .item img {
    height: 35px;
    width: 35px;
  }
  
  .item1 img {
    height: 35px;
    width: 35px;
  }
  
  .detail {
    width: 100%;
    box-shadow: 0 13px 21px rgba(0, 0, 0, 0.8);
    background: linear-gradient(to right, #7ef1dc, #b2badc);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .humid {
    height: 33px;
    width: 33px;
  }
  
  #btn {
    padding-top: 8%;
    width: 29px;
    border: none;
    color: black;
    font-size: 1em;
    border-radius: 10px;
  }
  
  #date {
    padding-top: 20px;
  }
  
  #weathercond {
    font-size: 20px;
    margin-top: -20px;
  }
  
  .show {
    margin-left: 20%;
  }
  

  
  